<div class="col-3 mx-auto">
    <div class='logo'>
        <img class="logo" src="assets/img/logo.png" alt="logo">
    </div>
    <form class='form'>
        <div class='box'>
            <select class="form-control">
                <option>Especialidade</option>
            </select>
        </div>
        <div class='box'>
            <select class="form-control">
                <option>Médico</option>
            </select>
        </div>
        <div class='box'>
            <select class="form-control">
                <option>Data</option>
            </select>
        </div>
        <div class='box'>
            <select class="form-control">
                <option>Hora</option>
            </select>
        </div>
        <div class="row bt-form ">
            <div class="col form-check">
                <button type="button" class="btn btn-light btn-sm btn-block" routerLink="/">Cancelar</button>
            </div>
            <div class="col">
                <button button  type="button" class="btn btn-primary btn-sm btn-block" >Confirmar</button>
            </div>
        </div>
    </form>
</div>